body {
    --top-bar-height: 0px;
    --bottom-bar-height: 0px;
    --max-line-clamp: 8;
    overscroll-behavior: contain;
}

.card-padding {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: grid;
    grid-row-gap: 5px;
}

.momentCard {
    margin: 0px 10px 0px 10px;
}

@media screen and (min-width: 450px) {
    .momentCard {
        margin: 0px auto 0px auto;
        max-width: 450px;
    }
}

.mdui-icon-red {
    color: #ff8d3a;
}

::-webkit-scrollbar {
    display: none;
}

.glass {
    background: rgba(255, 255, 255, 1);
    color: #555;
}

@supports (-webkit-backdrop-filter: blur(25px) saturate(150%)) or (backdrop-filter: blur(25px) saturate(150%)) {
    /* 支持 backdrop-filter 时应用的效果，记得把一些属性覆盖掉 */
    .glass {
        background: rgba(255, 255, 255, 0.88);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
        backdrop-filter: blur(20px) saturate(180%);
        color: #444;
    }
}

.xfshadow {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}

.test_img .xf-fig {
    margin: 0;
}

.test_img img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    max-height: calc(100vw - 20px);
    padding: 5px;
    object-fit: cover;
    border-radius: 15px;
}

.test_img video {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    max-height: calc(100vw - 20px);
    padding: 5px;
    object-fit: cover;
    border-radius: 15px;
}

.test_img_3 .xf-fig {
    width: calc((100% - 12px) / 3);
    padding-top: calc((100% - 12px) / 3);
    margin: 2px;
    position: relative;
    display: inline-block;
    border-radius: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.test_img_3 .xf-fig img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test_img_2 .xf-fig {
    width: calc((100% - 8px) / 2);
    padding-top: calc((100% - 8px) / 2);
    margin: 2px;
    position: relative;
    display: inline-block;
    border-radius: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.test_img_2 .xf-fig img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.minirefresh-wrap {
    margin-top: calc(var(--top-bar-height) + 56px);
    margin-bottom: calc(var(--bottom-bar-height) + 56px);
}

.test_iframe {
    width: calc(100% - 10px);
    height: calc(75vw);
    max-height: 350px;
    margin: 5px;
    border-radius: 15px;
    border: 1px #eee solid;
    overflow: hidden;
}

#popup::-webkit-scrollbar {
    display: none;
}

.xf-homepage-tab {
    line-height: 46px;
    margin: 10px;
}


