body{
    --top-bar-height:0px;
    --bottom-bar-height:0px;
}

.card-padding {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: grid;
    grid-row-gap: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.glass {
    background: rgba(255, 255, 255, 1);
    color: #555;
}

@supports (-webkit-backdrop-filter: blur(25px) saturate(150%)) or (backdrop-filter: blur(25px) saturate(150%)) {
    /* 支持 backdrop-filter 时应用的效果，记得把一些属性覆盖掉 */
    .glass {
        background: rgba(255, 255, 255, 0.88);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
        backdrop-filter: blur(20px) saturate(180%);
        color: #444;
    }
}

.xfshadow {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}

.test_img {
}

.test_img img {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    max-height: calc(100vw - 20px);
    padding: 10px;
    object-fit: cover;
    border-radius: 15px;
}

.test_iframe {
    width: calc(100% - 20px);
    height: calc(75vw);
    max-height: 350px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    overflow: hidden;
}

#popup::-webkit-scrollbar {
    display: none;
}

.xf-zixun-tab{
    line-height: 46px;
    margin: 10px;
}
